{% if event.status != 'live' %}

	<div class="event-status bg-warning">
		{% if user_is_organizer %} 
			You are an organizer of this event. 
		{% else %} 
			You are an event admin. 
		{% endif %} 
		This event is <span class="text-success">{{ event.status }}</span>. It will be viewable by non-administrators when it is published.
		<span title="Event Endorsements" id="endorsement-area" class="endorsement-area pull-right">
			{% include 'snippets/endorsements.html' %}
		</span>

		<div id="event-actions">
			<!-- you are either an organizer or an admin -->
			{% if event.status == 'waiting for approval' %} 
				{% if user_is_event_admin %}
					<a id="approve-for-publication" href="">Approve for publication</a> |
				{% endif %}
			{% elif event.status == 'ready to publish' %} 
				{% if user_is_organizer %}
					<a id="publish-event" href="">Publish this Event</a> to make it live. |
				{% endif %}
			{% elif event.status == 'seeking feedback' %} 
				{% if user_is_organizer %}
					Ready to make it live? <a id="publish-event" href="">Publish this Event</a> |
				{% endif %}
			{% endif %}
			<a href="mailto:{{ event_email }}" title="Send an email to the event organizers and local event admins">Discuss via email</a>
		</div>

	</div>

	{% if event.private %}
		<div class="event-status text-danger">
			<span class="glyphicon glyphicon-star"></span> This event is private and will only be viewable to those with the link.
		</div>
	{% endif %}

{% endif %}
