{% extends "content-base.html" %}
{% load static %}

{% block content %}

{% if messages %}
<div class="messages">
	{% for message in messages %}
	<div class="alert alert-info">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
	</div>
	{% endfor %}
</div>
{% endif %}


<div id="event-preamble">
	{% if not is_event_admin %}
		{% include 'snippets/event_hosting_info.html' %}
	{% else %}
		{% include 'snippets/event_admin_info.html' %}
	{% endif %}
</div>

<div class="col-md-8">

	<form class="form-horizontal" enctype="multipart/form-data" method="post" action="/events/create/">{% csrf_token %}
		{% include "snippets/event_form_body.html" %}
		<input id="submit-event" type="submit" class="btn btn-lg" value="Submit Event">
	</form>
</div>
<div class="col-md-4">
</div>

{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="/media/js/jquery-ui-timepicker-addon.js"></script>
<script>

	{% include "snippets/js/organizers_autocomplete.js" %}

	$('#id_start').datetimepicker({
		controlType: 'select'
	});	
	$('#id_end').datetimepicker({
		controlType: 'select'
	});

	$("#id_title").on('input', function(){
		console.log("hello");
		current_title = $("#id_title").val();
		slugified = current_title.replace(/[\.,-\/#!"\?$%\^&\*;:{}=\-_`~()]/g,"").replace(/ /g,"-");
		$("#id_slug").val(slugified);
	});

</script>
{% endblock %}

